<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
</head>
<body>
<h2>Create a new user</h2>

<form th:method="POST" th:action="@{/admin/saveNewUser}" th:object="${user}">
    <label for="username">Enter your username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter your password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="age">Enter your age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter your email: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <br/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:value="${role.getId()}"
                   th:text="${role.getName()}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>
    <input type="submit" value="Create!"/>
</form>

<br/>
<hr/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>