<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User page</title>
</head>
<body>

<h2>User info</h2>

<p>Username: <span th:text="${user.getUsername()}"></span></p>
<p>Password: <span th:text="${user.getPassword()}"></span></p>
<p>Age: <span th:text="${user.getAge()}"></span></p>
<p>Email: <span th:text="${user.getEmail()}"></span></p>
<p>Roles: </p>
<p th:each="role : ${user.getRoles()}" th:text=" ${role.getName()}"></p>

<br>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>